<header></header>
<sidebar></sidebar>
<section id="main-content">
    <section class="wrapper site-min-height">
        <h3><i class="fa fa-angle-right"></i> Add Sprint</h3>

        <!-- BASIC FORM ELELEMNTS -->
        <div class="row mt">
            <div class="col-lg-12">
                <div class="form-panel">
                    <form class="form-horizontal style-form">
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="sprint.name">
                            </div>
                        </div>
                        <div class="col-md-11"></div><button class="btn btn-warning" ng-click="addSprint()">Add Sprint</button>
                    </form>
                </div>
            </div><!-- col-lg-12-->
        </div><!-- /row -->

    </section>
</section>